<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/58ade65b-2c44-42e7-98a9-fd747ffd819f/resourceGroups/resource-group/providers/Microsoft.Web/sites/bg-auhbon</ResourceId>
    <ResourceGroup>resource-group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://bg-auhbon.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>bg-auhbon.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>bg-auhbon</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$bg-auhbon</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>